{% liquid
  assign products = section.settings.collection.products
%}

{% if products %}
  <div
    class="product-slider__container"
    style="
      --title-alignment: {{ section.settings.title_alignment }};
    "
  >  
    {% render 'product-slider', 
      products: products
      title: section.settings.title,
      sub_title: section.settings.sub_title,
      cta_text: section.settings.cta_text,
      cta_link: section.settings.cta_link,
      id: section.id
    %}
  </div>
  
{% endif %}

{% schema %}
  {
  "name": "Product Slider",
  "tag": "section",
  "class": "product-slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Bestsellers"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Our"
    },
    {
      "type": "checkbox",
      "id": "show_cta",
      "label": "Show CTA?",
      "default": false
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link",
      "default": "/collections/all"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
    "name": "Product Slider"
    }
  ]
  }
{% endschema %}
